#!/usr/bin/env bash

{{ template "script_darwin_only" . }}
{{ template "script_no_root" . }}
{{ template "script_brew_path" . }}

cd {{ .chezmoi.sourceDir }}
pwd

{{ template "script_caffeinate" . }}

set -x

export HOMEBREW_NO_AUTO_UPDATE=1

brew bundle --verbose --no-upgrade --no-lock || true

if [ -z ~/.vim/bundle/Vundle.vim ]; then 
  git clone https://github.com/VundleVim/Vundle.vim.git ~/.vim/bundle/Vundle.vim
fi

set +x
